<h1 class="col-lg-offset-3">Journal Entries</h1>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-9">
    <% @entries_by_date.keys.each do|date|%>
        <div class="panel-body">
        <h3><%= date.strftime("%A, %B %d, %Y") %> </h3>
        <% @entries_by_date[date].each do |entry| %>
            <p><small><%= entry.created_at.strftime("%l:%M %p") %></small></p>
            <p><%= entry.body %> </p>
            <hr>
        <% end %>
        </div>
    <% end %>
    </div>