<h1>Journal Entries</h1>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-8">
    <% @entries_by_date.each do|date|%>
        <div class="panel-body">
        <% date.each do |entry| %>
            <h3><%= entry.created_at.to_date%> </h3>
            <p><%= entry.body %> </p>
        <% end %>
        </div>
    <% end %>
    </div>