<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "SMS-Journal", root_url, :class => "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Log Out", "/log_out" %></li>
        </ul>
    </div>
</div>